<div class="toggleChatUser-box">
    <div class="user-controller">
        <img src="" alt="#" class="plus">
    </div>
    <div class="user-controller">
        <img src="" alt="#" class="cross">
    </div>
</div>