.inputLabel-wrapper {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .0625rem solid #77b8f9;


  input {

    width: 50%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    height: 2rem;
    outline: none;
    text-align: right;
  }

  label {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
