.box-avatar-changer {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: auto;
    border-radius: 50%;

    input {
        display: none;
    }

    &:hover span {
        opacity: 100%;
        transition: 1s;
    }

    &:hover img {
        opacity: 80%;
        transition: 0.3s;
        transform: scale(1.1);
    }

    img {
        width: inherit;
        height: inherit;
        border: 1px solid #1A6CF1;
        border-radius: 50%;
    }

    .avatarChanger {
        display: block;
        position: absolute;
        word-wrap: break-word;
        top: 120px;
        font-size: 7px;
        width: 30px;
        text-align: center;
        transform: translate(0px, -100px);
        opacity: 0;

    }

}